$black: #000;
$blacks-middle: #141414;
$blacks-lite: #3f3f52;
$blacks-light: #70707B;
$gray-super-dark: #9999ab;
$gray-more-dark: #ABABBF;
$gray-dark: #CACADD;
$gray-background: #E0E0EA;
$gray-table: #F1F1F9;
$white: #ffffff;
$transparent: #00000000;
$warm-white: #FFEEEE;
$warm-lite: #FF9882;
$warm-red: #F47E64;
$warm-dark-red: #B00000;
$warm-orange: #FFC359;
$green-dark: #0AB089;
$green-middle: #51CDA8;
$green-light: #6FE7C3;
$purple-dark: #40406B;
$purple-saturated: #4343FF;
$purple-middle: #7A7AFF;
$purple-distinct: #7E62FA;
$purple-light: #C7C7FB;
$purple-super-light: #DDDDFD;
$purple-white: #EBEBFE;